@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');

body {
  background: url("http://i.imgur.com/k6ksyBs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #C7C1C1;
  font-family: 'Vollkorn', serif;
}
h1 {
	font-size: 90px;
	text-align: center;
	font-style: semi-bold; 
	font-family: 'Fira Sans Condensed', sans-serif;
}
h2 {
	font-size: 40px; 
	font-family: 'Vollkorn', serif;
}
h3 {
	font-size: 32px;
	font-family: 'Vollkorn', serif;
}
h4 {
	font-size: 20px;
	font-family: 'Vollkorn', serif;
}

#news {
	text-align: left;
}

p {
	font-size: 16px;
	font-family: 'Vollkorn', serif;
}
#tagline {
	text-align: center;

}
#header {
	color: black;
}