body {
  text-align: center; 
  background: url("http://i.imgur.com/k6ksyBs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #C7C1C1;
  font-family: 'helvetica condensed', sans-serif;
}
h1 {
	font-size: 90px;
	text-align: center;
	font-style: normal; 
}
h2 {
	font-size: 16px; 
}
#news {
	text-align: left;
}