body {
  text-align: left; 
  vertical-align: center;
  background: url("http://i.imgur.com/k6ksyBs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #3D3B3B;
  font-family: "Abel", sans-serif;
}
h1 {
	font-size: 100px;
	text-align: center; 
}
h2 {
	font-size: 16px; 

}
