body {
  text-align: center; 
  background: url("http://i.imgur.com/k6ksyBs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  font-family: Helvetica;
}
